@charset "utf-8";

@media (min-width: 800px) {
  :root {
      font-size: 0.875em;
  }
}
@media (min-width: 1200px) {
  :root {
      font-size: 1em;
  }
}
:root {
    box-sizing: border-box;
    --page-width: 1280px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
}

/* body * + * {
    margin-top: 1.5em;
} */

.top-container {
    max-width: var(--page-width);
    margin: 0 auto;
}
.flex {
    display: flex;
  }
.border {
    border: 1px solid #9ce66b;
}
.margin-top-5 {
    margin-top: 5em;
}
