@charset 'utf-8';
@import url();

.container {
    width: 80%;
    max-width: 1000px;
    margin: 1em auto;
    
}
a:ov
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-label {
    padding: .5em 2em 0.5em 1.5em;
    border: 1px solid #ccc;
    background-color: #eee;
    background-color: rgb(0, 0, 255);
}

.dropdown-label::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-label::after {
    top: 0.7em;
    border-color: transparent transparent black;
}

.submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #999;
}

.submenu > li + li {
    border-top: 1px solid #999;
}

.submenu > li > a {
    display: block;
    padding: .5em 1.5em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
}

.submenu > li > a:hover {
    background-color: #fff;
}