@charset "utf-8";
@import url(base.css);

/* nav-programme ---start */
.site-nav {
    display: flex;
    padding-left: .5em;
    background-color: bisque;
    border-radius: .5em;
}
.nav-items {
  margin-left: auto;
}
ul[class^="nav"] {
  display: flex;
  list-style-type: none;
  padding: 0;
}
ul[class^="nav"] a{
  display: block;
  text-decoration: none;
  color: inherit;

}
/* nav-programme ---end */

/* nav-brand ---start */
.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc6b5a;
}
.nav-brand span + span {
  padding-left: .2rem;
}

.nav-brand > .circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: aqua;
}
.nav-brand > .name {
  font-size: 1.5rem;
}
.nav-brand > .profession {
  font-size: .9rem;
  align-self: center;
}
/* nav-brand ---end */

/* nav-items ---start */
.nav-items a {
  color: black;
  font-size: 1.5rem;
  background-color: #cc6b5a;
}

.nav-items > li + li::before {
  content: "|";
  padding-right: .5em;
}
.nav-items li:nth-child(even) {
  background-color: #dfbeb9;
}
/* nav-items ---end */




/* nav-icons ---start */
.nav-icons img {
  width: 1em;
  height: 1em;
}
/* nav-icons ---end */


/* main ---start */
.flex {
  display: flex;
}
.main {
  margin-top: 1em;
}
.main-left, 
.main-right {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.main-left img{
  border-radius: 50%;
  width: 65%;
  /* height: 65%; */
}
/* main ---end */
