@charset "utf-8";
@import url(base.css);

/* nav-programme ---start */
.site-nav {
    display: flex;
    margin-top: 2em;
}
.nav-menu {
  margin-left: auto;
}
ul[class^="nav"] {
  list-style-type: none;
  padding: 0;
}
ul[class^="nav"] a{
  display: block;
  text-decoration: none;
  color: inherit;
}
/* nav-programme ---end */

/* nav-brand ---start */
.nav-brand {
  justify-content: center;
  align-items: center;
}
.nav-brand span + span {
  padding-left: .2rem;
}
.nav-brand > .circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: aqua;
}
.nav-brand > .name {
  font-size: 1rem;
}
.nav-brand > .profession {
  font-size: .9rem;
  align-self: center;
}
/* nav-brand ---end */

/* nav-menu ---start */
.nav-menu {
  font-size: 1em;
  align-items: center;
}
.nav-menu a {
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align:middle;
}
.nav-menu li:not(:first-child) a {
  border-left: 1px solid #000;
  /* padding-right: .5em; */
}
/* nav-menu ---end */

/* nav-icons ---start */
.nav-icons {
  margin-left: 3em;
  
}
.nav-icons li:not(:first-child) a {
  margin-left: 1em;
}
.nav-icons img {
  width: 2em;
  height: 2em;
}
/* nav-icons ---end */


/* main ---start */

.main {
  display: flex;
  padding: 0 8em;
}
.main-column {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.column-l img {
  border-radius: 50%;
  width: 100%;
}
.column-r {
  padding-top: 2em;
  padding-left: 2em;
}
.column-r h1:first-of-type {
  font-size: 5em;
  margin: 0;
}

div.profile p {
  line-height: 1.5em;
  text-align: justify;
  text-justify: inter-word;
}
.nav-buttons {
  justify-content: space-around;
  align-items: center;
}
.nav-buttons a {
  width: 6em;
  height: 6em;
  text-align: center;
  font-size: 1.4em;
  padding-top: 2.3em;
  border-radius: 50%;
  border: 1px solid rgb(10, 10, 10);
  box-shadow: .4em .2em .1em .1em rgb(223, 219, 219);
}
.nav-buttons .nav-button-resume {
  background-color: #f1ab7c;
}
.nav-buttons .nav-button-exercises {
  background-color: #f88c8c;
}
.nav-buttons .nav-button-contact {
  background-color: #a9d6f0;
}
/* main ---end */

/* footer ---start */
footer {
  border-top: 1px solid #d1cfcf;
  color: #afacac;
}
.copyright {
  text-align: end;
}
/* footer ---end */