@charset "utf-8";
@import url(base.css);


.site-nav {
    display: flex;
    padding-left: .5em;
    list-style-type: none;
    background-color: #5f4b44;
    border-radius: .5em;
    align-items: stretch;
}
.site-nav > li {
    margin-top: 0;
}
.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
}
.site-nav > li + li {
    margin-left: 1.5em;
} 
.site-nav > .nav-right {
  margin-left: auto;
  margin-right: 0.5em;
}
.main {
  padding-top: 1em;
  padding-bottom: 1em;
}
/*
h1 {
  font-size: 3.375rem;
  color: #663333;
  background-color: #b2f1ba;
}

h2 {
  font-style: italic;
  color: #ffffff;
  background-color: #b2f1ba;
}
*/

