@charset "utf-8";
@import url(base.css);


.site-nav {
    display: flex;
    padding-left: .5em;
    background-color: bisque;
    border-radius: .5em;
    justify-content: space-between;
}
.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .7;
  flex-grow: 3;
}
.nav-items {
  
}

.site-nav ul {
  display: flex;
  list-style-type: none;
}
.site-nav ul li {
  display: block;
  padding: .5em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}
.site-nav ul li:nth-child(odd) {
  background-color: #dfbeb9;
}

.nav-brand span + span {
  padding-left: .2rem;
}
.nav-brand > .circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: aqua;
}
.nav-brand > .name {
  font-size: 1.5rem;
}
.nav-brand > .profession {
  font-size: .9rem;
  align-self: center;
}

/* .site-nav > li {
    margin-top: 0;
}
.site-nav:first-child {
  
}
.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
}
.site-nav > li + li {
    margin-left: 1.5em;
} 
.site-nav > .nav-right {
  margin-left: auto;
  margin-right: 0.5em;
} */
.main {
  padding-top: 1em;
  padding-bottom: 1em;
}
/*
h1 {
  font-size: 3.375rem;
  color: #663333;
  background-color: #b2f1ba;
}

h2 {
  font-style: italic;
  color: #ffffff;
  background-color: #b2f1ba;
}
*/

