@charset"UTF-8";
header {
  height:110px;
  width: 710px;
}
main{
  width: 800px;
  display: flex;
}
.content1{
  justify-content: space-between;
  width:70px;
}
.content2{
  margin-left: 1px;
  width:560px;
}
footer{
  width: 640px;
}