BODY{
  background-color : #cccc00;
}
H1{
  font-size : 56px;
  color : #ffffff;
  background-color : #ff3300;
}
H2{
  text-align : center;
  color : #ffffff;
  background-color : #ff6600;
}
UL{
  line-height : 2em;
  background-color : #ffffcc;
  list-style-type : none;
}