@charset "UTF-8";
nav{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color : #ffffff;
}
main{
  background-color : #ffffff;
}
body{
  background-color: #999933;
  width: 650px;
}
h1{
  font-size: 50px;
  color: #000066;
  background-image: url(../images/back.gif);
  display: inline-block;
  line-height: 40px;
  text-align: center;
}
h2{
  text-align: center;
  color: #ffffff;
  background-color: #cc0033;
}