@charset "UTF-8";
header {
  height:110px;
}
main{
  width: 800px;
  display: flex;
}
.content1{
  margin:10px 0 0 0;
  width:20%;
}
.content2{
  margin:10px 0 0 10px;
  width:40%;
}
.content3{
  margin:10px 0 0 10px;
  width:40%;
}
body{
  background-image: url(../images/back.gif);
  width: 800px;
}
h1{
  font-size: 300%;
  color: #000066;
  background-color: #ccffcc;
}
h2{
  color: #ffffff;
  background-color: #336600;
}
ul li{
  line-height: 4em;
  background-color: #66ffcc;
  list-style-type: none;
  margin: 0 0 0 3px;
  /*text-indent:-1em;*/
}