@charset"UTF-8";
header {
  height:110px;
}
main{
  width: 800px;
  display: flex;
}
.content1{
  margin:10px 0 0 0;
  width:20%;
}
.content2{
  margin:10px 0 0 10px;
  width:40%;
}
.content3{
  margin:10px 0 0 10px;
  width:40%;
}