BODY{
  background-color : #999933;
}
TABLE{
  background-color : #ffffff;
}
H1{
  font-size : 50px;
  color : #000066;
  background-image : url(back.gif);
}
H2{
  text-align : center;
  color : #ffffff;
  background-color : #cc0033;
}