@charset "UTF-8";
header {
  height:110px;

}
main{
  width: 800px;
  display: flex;
}
.content1{
  justify-content:space-between;
  width:30%;
}
.content2{
  margin-left: 1px;
  width:70%;
}
body{
  background-image: url(../images/back.gif);
  background-repeat: repeat-x;
  width: 800px;
}
h1{
  font-size: 400%;
  text-align: center;
  color: #ff6633;
}
h2{
  color: #ffffff;
  background-color: #ff6600;
}
ol li{
  background-color: #009966;
}