@charset"UTF-8";
header {
  height:350px;
}
main{

  display: flex;
}
.content1{
  margin:10px 0 0 10px;
  width:20%;
}
.content2{
  margin:10px 0 0 10px;
  width:40%;
}
.content3{
  margin:10px 0 0 10px;
  width:40%;
}
footer{
  margin-left: 170px;
}