@charset "utf-8";
:root {
  box-sizing: border-box;
}
*,
::before, 
::after {
  box-sizing: inherit;
}
body {
  background-image: url(../images/back.gif);
  background-repeat: repeat-y;
  width: 800px;
}
h1 {
  font-size: 340%;
  text-align: center;
  background-color: #66cc66;
}
ol {
  font-style: italic;
  color: #3399cc;
}
ul {
  font-size: 150%;
  line-height: 2.5em;
  background-color: #cccccc;
}


header {
  height:110px;
}
main{
  width: 800px;
  display: flex;
}
.content1{
  margin:10px 0 0 10px;
  width:240px;
}
.content2{
  margin:10px 0 0 10px;
  width:560px;
}