@charset "utf-8";

body {
    background-color: #9f9;
}
h1 {
    color: #030;
    border-left-width: 30px;
    border-left-style: double;
}
h2 {
    font-weight: normal;
    font-size: 20px;
    background-color: #f93;
}
ul {
    line-height: 2em;
    list-style-type: circle;
}

header {
    height: 415px;
    width: 758px;
}
nav {
    width: 758px;
    display: flex;
    justify-content: space-between;
}
main {
    width: 758px;
}