@charset "UTF-8";
header {
  height:100px;
}
main{
  width: 640px;
  display: flex;
  justify-content: space-between;
}
.content1{
  width:22%;
}
.content2{
  width: 78%;
}
body{
  width: 650px;
  margin-left: 10px;
  background-image: url(../images/back.gif);
  background-repeat: repeat-y ;
}
h1{
  font-size: 380%;
  background-color: #99cccc;
}
h2{
  font-size: 200%;
  color: #ffffff;
  background-color: #339966;
}
ul li{
  font-size: 1em;
  height: 3em;
  background-color: #ccffff;
}
td{
  vertical-align: top;
}
