BODY{  
  background-image : url(back.gif);
  background-repeat : repeat-x;
}
H1{  
  font-size : 400%;
  text-align : center;
  color : #ff6633;
}
H2{  
  color : #ffffff;
  background-color : #ff6600;
}
OL{  
  color : #009966;
}