BODY{
  background-image: url(back.gif);
}
H1{
  font-size: 300%;
  color: #000066;
  background-color : #ccffcc;
}
H2{
  color: #ffffff;
  background-color : #336600;
}
UL{
  line-height : 4em;
  background-color : #66ffcc;
  list-style-type : none;
}