@charset "UTF-8";
header {
  height:110px;
}
main{
  width: 1050px;
  display: flex;
  background-color: #ffffff;
}
.content1{
  margin:10px 0 0 10px;
  width:160px;
}
.content2{
  margin:10px 0 0 10px;
  width:320px;
}
.content3{
  margin:10px 0 0 10px;
  width:320px;
}
body{
  background-image: url(../images/back.gif);
}
table{
  background-color: #ffffff;
}
h1{
  text-align: center;
  color: #ffffff;
  background-color: #33cc66;
}

ul{
  font-weight: bold;
  background-color: #ccff66;
  list-style: none;
}
h2{
  background-color: #33cc66;
}