BODY{  
  background-image : url(back.gif);
  background-repeat : repeat-y;
}
H1{  
  font-size : 380%;
  background-color : #99cccc;
}
H2{  
  font-size : 200%;
  color : #ffffff;
  background-color : #339966;
}
UL{  
  line-height : 3em;
  background-color : #ccffff;
}
TD{  
  vertical-align : top;
}